@font-face {
  font-family: 'Inter';
  src: url("Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
html {
  font-size: clamp(0.825rem, 2vw, 1.2rem);
}
.attribution {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 1rem;
}

.attribution a {
  color: #3e52a3;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
}

.container {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  width: min(95%, 24rem);
}

.container__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__profile-img {
  height: 5rem;
  width: auto;
  border-radius: 50%;
}

.container__profile-name {
  color: white;
  margin-bottom: 0;
  font-size: 1.3rem
}

.container__profile-address {
  color: #c5f82a;
  font-size: 0.8rem;
}

.container__profile-role {
  color: white;
  font-size: 0.8rem;
}

.container__links {
  width: 100%;
}

.container__links-list {
  list-style: none;
  display: grid;
  padding: 0;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.container__links-list li a {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  color: white;
  background-color: #333333;
  border-radius: 10px;
  text-align: center;
  transition: all 0.2s ease;
}

.container__links-list li a:active, .container__links-list li a:focus, .container__links-list li a:hover {
  background-color: #c5f82a;
  color: #141414;
}

.container__links-list li a:hover {
  transform: scale(1.05);
}